* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100vw;
  height: 100%; }

header {
  height: 10%; }

main {
  height: 80%; }

footer {
  height: 10%; }

.header__nav {
  height: 15vh;
  display: flex;
  background-color: black;
  padding: 5px;
  margin: 5px;
  justify-content: space-around;
  align-items: center; }
  .header__nav ul {
    margin-left: 10px;
    list-style-type: none; }
  .header__nav li:hover {
    background-color: #410505; }
  .header__nav ul li {
    display: inline-block; }
  .header__nav ul li a {
    text-decoration: none;
    color: bisque;
    font-size: 20px;
    margin-right: 20px;
    padding: 10px; }
  .header__nav .header__nav__img {
    justify-content: right;
    height: 80px; }

main .main__div {
  height: 70vh;
  display: flex;
  margin: 5px;
  padding: 5px;
  background-color: black; }
  main .main__div .main__div__img {
    width: 1380px; }

main .titulo {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: #410505; }
  main .titulo .titulo__vinos {
    text-align: center;
    font-size: 50px;
    color: burlywood;
    font-family: 'Open Sans', sans-serif; }

main .main__div2 {
  height: 70vh;
  display: flex;
  margin: 5px;
  padding: 5px;
  background-color: black; }
  main .main__div2 .main__section__h2 {
    font-size: 2rem;
    color: bisque;
    font-family: 'Roboto', sans-serif;
    margin: 10px; }
  main .main__div2 .main__section__h22 {
    font-size: 2rem;
    color: bisque;
    font-family: 'Roboto', sans-serif;
    margin: 10px; }
  main .main__div2 .main__section__p {
    font-size: 20px;
    margin-left: 5px;
    color: bisque;
    font-family: 'Roboto', sans-serif; }
  main .main__div2 .main__section__p2 {
    font-size: 20px;
    margin-left: 5px;
    color: bisque;
    font-family: 'Roboto', sans-serif; }

main .main__div3 {
  height: 15vh;
  background-color: black;
  display: flex;
  margin: 5px;
  padding: 5px; }
  main .main__div3 .main__section__p3 {
    text-align: center;
    color: bisque;
    font-size: 25px;
    font-family: 'Roboto', sans-serif; }

main .main__lineas {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: #410505; }
  main .main__lineas .main__lineas__titulo {
    text-align: center;
    font-size: 50px;
    color: burlywood;
    font-family: 'Open Sans', sans-serif; }

main .main__lineas2 {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: black; }
  main .main__lineas2 .main__lineas2__img {
    width: 300px;
    height: 400px;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    border: 5px solid bisque; }
  main .main__lineas2 .main__lineas2__sectionlineas__h2 {
    font-size: 40px;
    color: bisque;
    font-family: 'Open Sans', sans-serif;
    margin: 5px; }
  main .main__lineas2 .main__lineas2__sectionlineas__p {
    color: bisque;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin: 5px; }
  main .main__lineas2 .main__lineas2__sectionlineas__h22 {
    font-size: 40px;
    color: bisque;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    padding: 10px; }
  main .main__lineas2 .main__lineas2__sectionlineas__p2 {
    color: bisque;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    padding: 10px; }
  main .main__lineas2 .main__lineas2__img {
    width: 300px;
    height: 400px;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    border: 5px solid bisque; }
  main .main__lineas2 .main__lineas2__sectionlineas__h2 {
    font-size: 40px;
    color: bisque;
    font-family: 'Open Sans', sans-serif;
    margin: 5px; }
  main .main__lineas2 .main__lineas2__sectionlineas__p {
    color: bisque;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin: 5px; }
  main .main__lineas2 .main__lineas2__sectionlineas__h22 {
    font-size: 40px;
    color: bisque;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    padding: 10px; }
  main .main__lineas2 .main__lineas2__sectionlineas__p2 {
    color: bisque;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    padding: 10px; }

main .main__div4 {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: #410505; }
  main .main__div4 .main__div__img3 {
    width: 300px;
    height: 400px;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    border: 5px double bisque; }
  main .main__div4 .main__div__img4 {
    width: 500px;
    height: 300px; }

.footer__div {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: #410505; }

.footer__div__img {
  width: 40px;
  height: 40px;
  margin: 10px; }

.footer__div__img2 {
  width: 40px;
  height: 40px;
  margin: 10px; }

.footer__div__p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: bisque;
  margin: 5px; }

.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s; }

.animate__animated.animate__fadeInRight {
  --animate-duration: 2s; }

.animate__animated.animate__backInLeft {
  --animate-duration: 2s; }

.animate__animated.animate__fadeInDown {
  --animate-duration: 2s; }

.main__titulotrabajos {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: black; }
  .main__titulotrabajos .main__titulotrabajos__titulo {
    height: 40px; }

.main__trabajos {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: black; }
  .main__trabajos .main__trabajos__img {
    margin: 10px; }

.main__trabajos2 {
  height: 300vh;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: black; }
  .main__trabajos2 #uno {
    margin: 10px;
    padding: 10px; }
  .main__trabajos2 .main__lineas2__imge {
    width: 300px;
    height: 400px; }

.main__peditumuestra {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: black; }

.main__section__titulomuestra {
  font-size: 30px;
  color: bisque;
  font-family: 'Open Sans', sans-serif;
  margin-left: 50px; }

.main__peditumuestra__img {
  width: 400px;
  height: 300px;
  margin-right: 150px;
  border: double bisque 5px; }

.main__section__titulomuestra__button {
  display: block;
  width: 90px;
  background-color: bisque;
  color: black;
  border-radius: 10px;
  margin-left: 500px;
  font-size: 30px; }

.main__section__titulomuestra2 {
  font-size: 20px;
  color: bisque;
  font-family: 'Open Sans', sans-serif;
  margin-left: 50px; }

.main__peditumuestra2 {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: black; }

.main__peditumuestra2__section__titulo {
  text-align: center;
  font-size: 50px;
  color: bisque;
  font-family: 'Open Sans', sans-serif;
  margin-left: 50px; }

.main__peditumuestra2__section__p {
  font-size: 20px;
  color: bisque;
  margin: 10px;
  padding: 10px; }

.main__peditumuestra2__section__p2 {
  font-size: 20px;
  color: bisque;
  margin: 10px;
  padding: 10px; }

.main__peditumuestra3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: black; }

.main__peditumuestra33 {
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  color: bisque; }

.main__peditumuestra333 {
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  color: bisque; }

.button {
  background-color: #410505;
  color: bisque;
  font-size: 30px; }

.main__div__img {
  width: 300px;
  height: 400px; }

.main__nuestrosvinostiutlo {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px; }
  .main__nuestrosvinostiutlo .main__nuestrosvinos__titulo {
    font-style: italic; }

   .main__lineas2__imge{
    width: 300px;
  height: 400px;
   }

.main__nuestrosvinos {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: black;
  color: bisque; }

.main__nuestrosvinostiutlo {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: black;
  color: bisque; }

.main__section__h2 {
  font-style: italic; }

.main__section__h22 {
  font-style: italic; }

.main__form {
  height: 70vh;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: black;
  color: bisque; }

.mapa {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: black; }

  .error{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: black;
    color: bisque;
    font-size: 60px;
    font-style: italic;

  }

  .texerror{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: black;
    color: bisque;
    font-size: 40px;
    font-style: italic;
  }

  
  @media only screen and  (min-width:400px){
    .header__nav {
        display: flex;
        flex-wrap: wrap;
        width: 1400px;
        margin: 0 auto;
        margin-top: 40px;
        
      }
      .header__nav__img{

        display: flex;
      
       
      
      }
      .main__div__img{

        display: flex;
        flex-wrap: wrap;
        width: 1400px;
        margin: 0 auto;
        margin-top: 40px;
      }
      .main__div{

        display: flex;
        flex-wrap: wrap;
        width: 1400px;
        margin: 0 auto;
        margin-top: 40px;
      }

}


  @media (min-width:768px){


  }

  @media (min-width:992px){
    
  }

  @media (min-width:1200px){
    
  }
   

  @media (min-width:1400px){
    
  }

  


  
  