.main__form{
    height:70vh;
    justify-content: center;
    align-items: center; 
    margin: 5px;
    padding: 5px; 
    background-color: black;
    color: bisque;
}
.mapa{
    height:110vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 5px;
    padding: 5px; 
    background-color: black;
}




