$medida-botonenviar: 30px;
$medida-boton: 30px;
$tituloh1: black;
$colorfondomain: white;
$colornav: red;
$bordemap: solid;

$bg-colorfondo:radial-gradient(circle, rgba(215, 29, 8, 1) 25%, rgba(48, 44, 47, 0.8855917366946778) 51%, rgba(201, 27, 42, 1) 79%);

/*lista y maps*/

$colores:(
"blanco": white
"negro": black
"bisque": bisque

)
